<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../admin/css/admin-alert-modal.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- End layout styles -->
    <!--<link rel="shortcut icon" href="images/favicon.png" />-->
    <style>
        .list-wrapper .removeMenuItem, .list-wrapper .removeCategory {
            cursor: pointer;
            font-size: 1.438rem;
            font-weight: 600;
            width: 1.25rem;
            height: 1.25rem;
            line-height: 20px;
            text-align: center;
            color: #c3bdbd !important;
            margin-left: auto !important;
        }
        .list-wrapper .editMenuItem, .list-wrapper .editCategory{
            margin-left: 3px !important;
        }
        .mdi-pencil-outline:before {
            color: #c3bdc1 !important;
        }
        .error {
            position: relative;
            animation: shake .1s ease-in-out;
            animation-iteration-count: 5;
        }
        .error-info {
            padding: 2px;
            display: block;
            border: 1px solid transparent;
            border-bottom-color: #ff3e4e;

            -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 2s; /* Firefox < 16 */
            -ms-animation: fadein 2s; /* Internet Explorer */
            -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
        }

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Opera < 12.1 */
        @-o-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        @keyframes shake {
            0% { left: -15px; }
            100% { right: -15px; }
        }
        #editOrder {
            max-height: 0;
            transition: max-height 0.15s ease-out;
            overflow: hidden;
        }
        #editOrder.filled {
            max-height: 1500px;
            transition: max-height 0.25s ease-in;
        }
        .editDone {
            position: absolute;
            top: 0;
            right: 0;
            margin: 33px;
            padding: 10px;
            box-shadow: 2px 3px 4px 1px #00000024 !important;
        }
        .editDone:hover{
            box-shadow: 3px 5px 6px 1px #00000024 !important;
        }
        .editDone:active{
            box-shadow: 0 2px 5px 0 #00000024 !important;
        }
        #order.hide  {
            max-height: 0;
            transition: max-height 0.15s ease-out;
            overflow: hidden;
        }
        #order{
            max-height: 1550px;
            transition: max-height 0.25s ease-in;
        }
         .menuItemOrder {
             width: 50%;
             height: 24px;
             margin-bottom: 10px;
             padding: 2px 5px;
             color: #000000;
             border: 2px solid #bdc3c7;
             border-radius: 5px;
             vertical-align: middle;
         }
    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="../../index.html"><img src="../../images/logo.svg" alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <div class="search-field d-none d-md-block">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
                    </div>
                </form>
            </div>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                        <div class="nav-profile-img">
                            <img src="../images/background1.jpg" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">David Greymaax</p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                    </div>
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-email-outline"></i>
                        <span class="count-symbol bg-warning"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                        <h6 class="p-3 mb-0">Messages</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="../images/background2.jpg" alt="image" class="profile-pic">
                            </div>
                            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
                                <p class="text-gray mb-0"> 1 Minutes ago </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="../images/background3.jpg" alt="image" class="profile-pic">
                            </div>
                            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
                                <p class="text-gray mb-0"> 15 Minutes ago </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="../images/background4.jpg" alt="image" class="profile-pic">
                            </div>
                            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
                                <p class="text-gray mb-0"> 18 Minutes ago </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <h6 class="p-3 mb-0 text-center">4 new messages</h6>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell-outline"></i>
                        <span class="count-symbol bg-danger"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                        <h6 class="p-3 mb-0">Notifications</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-success">
                                    <i class="mdi mdi-calendar"></i>
                                </div>
                            </div>
                            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                                <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-warning">
                                    <i class="mdi mdi-settings"></i>
                                </div>
                            </div>
                            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                                <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-info">
                                    <i class="mdi mdi-link-variant"></i>
                                </div>
                            </div>
                            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                                <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <h6 class="p-3 mb-0 text-center">See all notifications</h6>
                    </div>
                </li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
                <li class="nav-item nav-settings d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-format-line-spacing"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="../images/face2.jpg" alt="profile">
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column">
                            <span class="font-weight-bold mb-2">David Grey. H</span>
                            <span class="text-secondary text-small">Project Manager</span>
                        </div>
                        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <span class="menu-title">Dashboard</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../pages/icons/mdi.html">
                        <span class="menu-title">Icons</span>
                        <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../pages/forms/basic_elements.html">
                        <span class="menu-title">Forms</span>
                        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Admin</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add Products</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <!--<div class="col-md-6 grid-margin stretch-card">-->
                        <!--<div class="card">-->
                            <!--<div class="card-body">-->
                                <!--<h4 class="card-title">Category</h4>-->
                                <!--<p class="card-description"> Basic form layout </p>-->
                                <!--<form class="Category">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="categoryName">Category Name</label>-->
                                        <!--<input type="text" class="form-control" id="categoryName" placeholder="Category Name">-->
                                    <!--</div>-->
                                    <!--<button type="submit" class="btn add-category btn-gradient-primary mr-2">Submit</button>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body" style="padding: 1.5rem 1.5rem !important;">
                                <h4 class="card-title text-white">Todo</h4>
                                <div class="add-items d-flex">
                                    <input type="text" id="categoryName" class="categoryName form-control todo-list-input" placeholder="Enter Category Name?">
                                    <button class="add btn add-category btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task">Add</button>
                                </div>
                                <div class="list-wrapper">
                                    <input type="text" id="searchCategory" onkeyup="filterCategory()" class="form-control col-sm-4" placeholder="Filter Search">
                                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom" style="margin-top: 30px;height: auto; padding: 10px; max-height: 510px; overflow-y: auto; overflow-x: hidden;">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Menu Item</h4>
                                <p class="card-description"> Form Items </p>   <!-- method="post" onsubmit="event.preventDefault()" "-->
                                <form class="Menu" id="menuForm" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="item-name">Item Name</label>
                                            <input type="text" class="form-control" id="item-name" onkeyup="autofill(this)" placeholder="Item name">
                                    </div>
                                    <div class="form-group">
                                        <label for="item-description">Item Description</label>
                                            <input type="text" class="form-control" id="item-description" placeholder="Item description">
                                    </div>
                                    <div class="form-group">
                                    <label>Menu-Item Image upload</label>
                                    <input type="file" name="file" id="item-image" class="file-upload-default"><!--img[]-->
                                    <div class="input-group col-xs-12">
                                        <input type="text" name="item-image-dummy" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                        <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                                        </span>
                                    </div>
                                </div>
                                    <div class="form-group">
                                        <label for="ingredients">Ingredients</label>
                                            <input type="text" class="form-control" id="ingredients" placeholder="list of substance to prepare dish">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipe">Recipe</label>
                                            <input type="text" class="form-control" id="recipe" placeholder="set of instructions for preparing the dish">
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Price</label>
                                            <input type="text" class="numbers-only form-control" id="price" placeholder="Price" min="1">
                                    </div>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="item-active" class="form-check-input"> Active </label>
                                    </div>
                                    <button type="button" class="btn add-menu-item btn-gradient-primary mr-2">Submit</button>
                                </form>
                            </div>
                            <div class="card-body" style="padding: 1.5rem 1.5rem !important;">
                                <div class="list-wrapper">
                                    <input type="text" id="searchMenuItem" onkeyup="filterMenuItem()" class="form-control col-sm-4" placeholder="Filter Search">
                                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom" style="margin-top: 30px;height: auto; padding: 10px; max-height: 510px; overflow-y: auto; overflow-x: hidden;">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="editOrder" class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Menu Item Order<em><i id="menu-item-order-edit" class="edit mdi mdi-pencil-outline"></i></em></h4>
                                <a href="javascript:void(0)" class="editDone" hidden>Done</a>
                                <form id="editOrderForm" class="forms-sample">

                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="order" class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Create Optional Choices Fields <span id="item-name-order"></span></h4>
                                <p class="card-description"> Optional Choice Items </p>
                                <form id="orderForm" class="forms-sample">

                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="options-required" class="form-check-input"> Option Choice required before purchase </label>
                                    </div>
                                    <div id="addProductForm">
                                        <div class="form-group">
                                            <label for="optionDescription">Option Description</label>
                                            <input type="text" name="optionDescription" class="form-control" id="optionDescription" placeholder="Enter the option description i.e choose your size/You can add extras">
                                        </div>
                                        <div hidden class="form-check form-check-flat form-check-primary">
                                            <label for="isExtraOptionRequired" class="form-check-label">
                                                <input type="checkbox" name="required" id="isExtraOptionRequired" class="form-check-input"> Required Field (required before product can be added to order list)</label>
                                        </div>
                                        <!--<div class="form-group">-->
                                            <!--<label for="defaultSubOption">Option Description</label>-->
                                            <!--<input type="text" class="form-control" id="defaultSubOption" placeholder="Enter the sub-option description i.e choose your size">-->
                                        <!--</div>-->
                                        <div class="form-group">
                                            <label for="options">How many options or choices</label>
                                            <input type="text" name="optionTotal" class="numbers-only form-control col-md-3" id="options" placeholder="Options or Choices" min="1" max="100">
                                        </div>
                                        <div class="form-group">
                                            <label for="optionList">List Available Option & prices(separated by commas)</label>
                                            <textarea name="productInfo" class="form-control" id="optionList" rows="4"></textarea>
                                        </div>
                                        <div hidden class="form-group">
                                            <label for="requiredOption">Select how many options required to proceed</label>
                                            <select class="form-control" name="dataMax" id="requiredOption">
                                                <option>Options are available after you supply option</option>
                                            </select>
                                        </div>
                                        <div hidden class="form-check form-check-flat form-check-primary">
                                            <label for="isInnerOptionRequired" class="form-check-label">
                                                <input type="checkbox" name="innerOptionRequired" id="isInnerOptionRequired" onchange="toggleInnerOptions(this)" class="form-check-input"> Required Field (required before product can be added to order list)</label>
                                        </div>
                                        <!--<div class="form-group" style="display: none">-->
                                            <!--<label for="inner-options">How many options or choices</label>-->
                                            <!--<input name="innerOptionTotal" type="number" class="form-control col-md-3" id="inner-options" placeholder="Options or Choices" min="1" max="100">-->
                                        <!--</div>-->
                                        <!--<div class="form-group" style="display: none">-->
                                            <!--<label for="inner-optionList">List Available Option & prices(separated by commas)</label>-->
                                            <!--<textarea name="innerProductInfo" class="form-control" id="inner-optionList" rows="4"></textarea>-->
                                        <!--</div>-->
                                    </div>
                                    <button type="button" id="add-options" class="btn btn-gradient-primary mr-2">Add</button>
                                    <button type="button" id="submit-options" hidden class="btn btn-gradient-primary mr-2">Submit</button>
                                    <button id="clear" class="btn btn-light"  >Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../vendors/js/vendor.bundle.base.js"></script>
<script src="../admin/js/number-input-validation.js"></script>
<script src="../admin/js/all-validations.js"></script>
<script src="../admin/js/admin-add-category-list-functionality.js"></script>
<script src="../admin/js/admin-add-menu-item-list-functionality.js"></script>
<script src="../admin/js/admin-add-menu-list-functionality.js"></script>
<script src="../admin/js/admin-alert-modal.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../js/off-canvas.js"></script>
<script src="../js/hoverable-collapse.js"></script>
<script src="../js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="../js/file-upload.js"></script>
<!-- End custom js for this page -->
<script src="../js/todolist.js" ></script>
</body>
</html>