<style>
                    body {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
                    .string { color: green; }
                    .number { color: darkorange; }
                    .boolean { color: blue; }
                    .null { color: magenta; }
                    .key { color: red; }
                </style><pre> {
    <span class="key">"category":</span> [
        {
            <span class="key">"categoryName":</span> <span class="string">"Potatoes Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"6f3cf290-0300-11ea-b54e-035ce2052888"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"Tomatoes Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"8c2c2c90-0300-11ea-b54e-035ce2052888"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"Dessert Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"e8de2ab0-06b6-11ea-97cc-2572c6e19999"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"Delight Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"a096f090-914c-11ea-9326-039f0a0b26e7"</span>
        }
    ]
} </pre>