<style>
                    body {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
                    .string { color: green; }
                    .number { color: darkorange; }
                    .boolean { color: blue; }
                    .null { color: magenta; }
                    .key { color: red; }
                </style><pre> {
    <span class="key">"category":</span> [
        {
            <span class="key">"categoryName":</span> <span class="string">"Trap Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"c3c369a0-9411-11ea-ace2-6145abf8eac0"</span>
        }
    ]
} </pre>