<style>
                    body {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
                    .string { color: green; }
                    .number { color: darkorange; }
                    .boolean { color: blue; }
                    .null { color: magenta; }
                    .key { color: red; }
                </style><pre> {
    <span class="key">"category":</span> [
        {
            <span class="key">"categoryName":</span> <span class="string">"Potatoes Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"6f3cf290-0300-11ea-b54e-035ce2052888"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"Tomatoes Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"8c2c2c90-0300-11ea-b54e-035ce2052888"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"Dessert Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"e8de2ab0-06b6-11ea-97cc-2572c6e19999"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"African Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"c916ac80-0c1e-11ea-8991-d91785ef09b4"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"Sandwich Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"3b50abc0-0c24-11ea-8991-d91785ef09b4"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"Cow Meat Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"d5c73660-0c24-11ea-8991-d91785ef09b4"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"Turkey Meat Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"f40c3c60-0c24-11ea-8991-d91785ef09b4"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"Chow-Mein Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"51b08e70-0c25-11ea-8991-d91785ef09b4"</span>
        },
        {
            <span class="key">"categoryName":</span> <span class="string">"Chinese Menu"</span>,
            <span class="key">"categoryId":</span> <span class="string">"7a1f2220-0c27-11ea-8991-d91785ef09b4"</span>
        }
    ]
} </pre>