{
    "completeOrder": [
        {
            "optionDescription": "Choose your size?",
            "optionTotal": "3",
            "dataMax": "0",
            "name": [
                "wheat",
                " dough",
                " rice"
            ],
            "price": [
                "34",
                "23",
                "45"
            ],
            "require": "false",
            "dataSingleproduct": "false",
            "innerOptions": [],
            "extraOptions": [
                {
                    "optionDescription": "Choose your size?",
                    "optionTotal": "2",
                    "dataMax": "1",
                    "name": [
                        "sour cream",
                        " awesome sause"
                    ],
                    "price": [
                        "45",
                        "23"
                    ],
                    "require": "true",
                    "dataSingleproduct": "false",
                    "innerOptions": [
                        {
                            "name": [
                                "coke",
                                " fanta"
                            ],
                            "price": [
                                "12",
                                "34"
                            ]
                        },
                        {
                            "name": [
                                " veggies",
                                " curry powder",
                                "chicken"
                            ],
                            "price": [
                                "45",
                                "20",
                                "30"
                            ]
                        }
                    ]
                }
            ],
            "menuItemId": "bfbc16d0-0385-11ea-80ef-bd1faf9866ce",
            "menuId": "3d8e2df0-0287-11ea-a7ca-67f46afbb5a6"
        },
        {
            "optionDescription": "Choose your life hun?",
            "optionTotal": "2",
            "dataMax": "0",
            "name": [
                "jkjjk",
                " kjjk"
            ],
            "price": [
                "98",
                "76"
            ],
            "require": "false",
            "dataSingleproduct": "false",
            "innerOptions": [],
            "extraOptions": [
                {
                    "optionDescription": "Choose your life once more?",
                    "optionTotal": "2",
                    "dataMax": "2",
                    "name": [
                        "ffg",
                        "nbn"
                    ],
                    "price": [
                        "87",
                        "98"
                    ],
                    "require": "true",
                    "dataSingleproduct": "false",
                    "innerOptions": [
                        {
                            "name": [
                                "jkj",
                                "lkkj"
                            ],
                            "price": [
                                "78",
                                "98"
                            ]
                        },
                        {
                            "name": [
                                "kj",
                                "kij"
                            ],
                            "price": [
                                "87",
                                "87"
                            ]
                        }
                    ]
                }
            ],
            "menuItemId": "3e1819b0-0701-11ea-97cc-2572c6e19999",
            "menuId": "3d8e2df0-0287-11ea-a7ca-67f46afbb5a6"
        },
        {
            "optionDescription": "Choose your destiny?",
            "optionTotal": "2",
            "dataMax": "0",
            "name": [
                "jkjjk",
                " kjjk"
            ],
            "price": [
                "98",
                "76"
            ],
            "require": "false",
            "dataSingleproduct": "false",
            "innerOptions": [],
            "extraOptions": [
                {
                    "optionDescription": "Choose your destiny?",
                    "optionTotal": "2",
                    "dataMax": "2",
                    "name": [
                        "ffg",
                        "nbn"
                    ],
                    "price": [
                        "87",
                        "98"
                    ],
                    "require": "true",
                    "dataSingleproduct": "false",
                    "innerOptions": [
                        {
                            "name": [
                                "jkj",
                                "lkkj"
                            ],
                            "price": [
                                "78",
                                "98"
                            ]
                        },
                        {
                            "name": [
                                "kj",
                                "kij"
                            ],
                            "price": [
                                "87",
                                "87"
                            ]
                        }
                    ]
                }
            ],
            "menuItemId": "c2f21480-0385-11ea-80ef-bd1faf9866ce",
            "menuId": "85d934b0-04f3-11ea-9b43-73db2fa43221"
        },
        {
            "optionDescription": "Choose your jesus?",
            "optionTotal": "2",
            "dataMax": "0",
            "name": [
                "jkjjk",
                " kjjk"
            ],
            "price": [
                "98",
                "76"
            ],
            "require": "false",
            "dataSingleproduct": "false",
            "innerOptions": [],
            "extraOptions": [
                {
                    "optionDescription": "Choose your God?",
                    "optionTotal": "2",
                    "dataMax": "2",
                    "name": [
                        "ffg",
                        "nbn"
                    ],
                    "price": [
                        "87",
                        "98"
                    ],
                    "require": "true",
                    "dataSingleproduct": "false",
                    "innerOptions": [
                        {
                            "name": [
                                "jkj",
                                "lkkj"
                            ],
                            "price": [
                                "78",
                                "98"
                            ]
                        },
                        {
                            "name": [
                                "kj",
                                "kij"
                            ],
                            "price": [
                                "87",
                                "87"
                            ]
                        }
                    ]
                }
            ],
            "menuItemId": "60a83690-0382-11ea-abf9-03cbb4a0167c",
            "menuId": "71acc1e0-04f4-11ea-9b43-73db2fa43221"
        },
        {
            "optionDescription": "Choose your luck in jesus?",
            "optionTotal": "2",
            "dataMax": "0",
            "name": [
                "jkjjk",
                " kjjk"
            ],
            "price": [
                "98",
                "76"
            ],
            "require": "false",
            "dataSingleproduct": "false",
            "innerOptions": [],
            "extraOptions": [
                {
                    "optionDescription": "Choose your life wife in God?",
                    "optionTotal": "2",
                    "dataMax": "2",
                    "name": [
                        "ffg",
                        "nbn"
                    ],
                    "price": [
                        "87",
                        "98"
                    ],
                    "require": "true",
                    "dataSingleproduct": "false",
                    "innerOptions": [
                        {
                            "name": [
                                "jkj",
                                "lkkj"
                            ],
                            "price": [
                                "78",
                                "98"
                            ]
                        },
                        {
                            "name": [
                                "kj",
                                "kij"
                            ],
                            "price": [
                                "87",
                                "87"
                            ]
                        }
                    ]
                }
            ],
            "menuItemId": "a389ecc0-10e2-11ea-80f5-55265cf8997f",
            "menuId": "b227b9f0-10e3-11ea-9404-516479e055dd"
        },
        {
            "optionDescription": "Choose your luck in jesus?",
            "optionTotal": 2,
            "dataMax": 0,
            "name": [
                "jkjjk",
                " kjjk"
            ],
            "price": [
                "98",
                "76"
            ],
            "require": false,
            "dataSingleproduct": false,
            "innerOptions": [],
            "extraOptions": [
                {
                    "optionDescription": "Choose your life wife in God?",
                    "optionTotal": 2,
                    "dataMax": 2,
                    "name": [
                        "ffg",
                        "nbn"
                    ],
                    "price": [
                        "87",
                        "98"
                    ],
                    "require": true,
                    "dataSingleproduct": false,
                    "innerOptions": [
                        {
                            "name": [
                                "jkj",
                                "lkkj"
                            ],
                            "price": [
                                "78",
                                "98"
                            ]
                        },
                        {
                            "name": [
                                "kj",
                                "kij"
                            ],
                            "price": [
                                "87",
                                "87"
                            ]
                        }
                    ]
                }
            ],
            "menuItemId": "a389ecc0-10e2-11ea-80f5-55265cf8997f",
            "menuId": "d9a29d00-2e6c-11ea-b4a6-f12acba30fac"
        },
        {
            "optionDescription": "Choose your destiny?",
            "optionTotal": "2",
            "dataMax": null,
            "name": [
                "rrtr",
                "iuium"
            ],
            "price": [
                "54",
                "78"
            ],
            "require": "false",
            "dataSingleproduct": "false",
            "innerOptions": [],
            "extraOptions": [
                {
                    "optionDescription": "Choose your desire?",
                    "optionTotal": "3",
                    "dataMax": "2",
                    "name": [
                        "hdjhd",
                        " dhkdjhd",
                        "dkdhkd"
                    ],
                    "price": [
                        "23",
                        "23",
                        "12"
                    ],
                    "require": "true",
                    "dataSingleproduct": "false",
                    "innerOptions": [
                        {
                            "name": [
                                "hgfhf",
                                "jfhjhf"
                            ],
                            "price": [
                                "12",
                                "13"
                            ]
                        },
                        {
                            "name": [
                                "hkjkj"
                            ],
                            "price": [
                                "23"
                            ]
                        },
                        {
                            "name": [
                                "jkj",
                                "kjk"
                            ],
                            "price": [
                                "12",
                                "24"
                            ]
                        }
                    ]
                }
            ],
            "menuItemId": "274f68e0-91c2-11ea-a459-d3380f5b19ab",
            "menuId": "03c489d0-9237-11ea-ba82-95039022c15a"
        },
        {
            "optionDescription": "Choose your option food?",
            "optionTotal": 2,
            "dataMax": null,
            "name": [
                "yuyuy",
                " yiyuyu"
            ],
            "price": [
                "15.26",
                "2.34"
            ],
            "require": false,
            "dataSingleproduct": false,
            "innerOptions": [],
            "extraOptions": [
                {
                    "optionDescription": "Choose an option of choice?",
                    "optionTotal": 2,
                    "dataMax": null,
                    "name": [
                        "jkjk",
                        "oio"
                    ],
                    "price": [
                        "12.23",
                        " 23.20"
                    ],
                    "require": false,
                    "dataSingleproduct": false,
                    "innerOptions": [
                        {
                            "name": [
                                "jkj",
                                "ererr"
                            ],
                            "price": [
                                "12.12",
                                "34.12"
                            ]
                        },
                        {
                            "name": [
                                "wwww"
                            ],
                            "price": [
                                "2.23"
                            ]
                        }
                    ]
                }
            ],
            "menuItemId": "0e953e10-9267-11ea-ab97-6baf87d0c106",
            "menuId": "16e90bd0-92e1-11ea-8f4e-39dff476ec11"
        }
    ]
}