<style>
                    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
                    .string { color: green; }
                    .number { color: darkorange; }
                    .boolean { color: blue; }
                    .null { color: magenta; }
                    .key { color: red; }
                </style><pre> {
    <span class="key">"completeOrder":</span> [
        {
            <span class="key">"optionDescription":</span> <span class="string">"Choose your size?"</span>,
            <span class="key">"optionTotal":</span> <span class="string">"3"</span>,
            <span class="key">"dataMax":</span> <span class="string">"0"</span>,
            <span class="key">"name":</span> [
                <span class="string">"wheat"</span>,
                <span class="string">" dough"</span>,
                <span class="string">" rice"</span>
            ],
            <span class="key">"price":</span> [
                <span class="string">"34"</span>,
                <span class="string">"23"</span>,
                <span class="string">"45"</span>
            ],
            <span class="key">"require":</span> <span class="string">"false"</span>,
            <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
            <span class="key">"innerOptions":</span> [],
            <span class="key">"extraOptions":</span> [
                {
                    <span class="key">"optionDescription":</span> <span class="string">"Choose your size?"</span>,
                    <span class="key">"optionTotal":</span> <span class="string">"2"</span>,
                    <span class="key">"dataMax":</span> <span class="string">"1"</span>,
                    <span class="key">"name":</span> [
                        <span class="string">"sour cream"</span>,
                        <span class="string">" awesome sause"</span>
                    ],
                    <span class="key">"price":</span> [
                        <span class="string">"45"</span>,
                        <span class="string">"23"</span>
                    ],
                    <span class="key">"require":</span> <span class="string">"true"</span>,
                    <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
                    <span class="key">"innerOptions":</span> [
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"coke"</span>,
                                <span class="string">" fanta"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"12"</span>,
                                <span class="string">"34"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">" veggies"</span>,
                                <span class="string">" curry powder"</span>,
                                <span class="string">"chicken"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"45"</span>,
                                <span class="string">"20"</span>,
                                <span class="string">"30"</span>
                            ]
                        }
                    ]
                }
            ],
            <span class="key">"menuItemId":</span> <span class="string">"bfbc16d0-0385-11ea-80ef-bd1faf9866ce"</span>,
            <span class="key">"menuId":</span> <span class="string">"3d8e2df0-0287-11ea-a7ca-67f46afbb5a6"</span>
        },
        {
            <span class="key">"optionDescription":</span> <span class="string">"Choose your life hun?"</span>,
            <span class="key">"optionTotal":</span> <span class="string">"2"</span>,
            <span class="key">"dataMax":</span> <span class="string">"0"</span>,
            <span class="key">"name":</span> [
                <span class="string">"jkjjk"</span>,
                <span class="string">" kjjk"</span>
            ],
            <span class="key">"price":</span> [
                <span class="string">"98"</span>,
                <span class="string">"76"</span>
            ],
            <span class="key">"require":</span> <span class="string">"false"</span>,
            <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
            <span class="key">"innerOptions":</span> [],
            <span class="key">"extraOptions":</span> [
                {
                    <span class="key">"optionDescription":</span> <span class="string">"Choose your life once more?"</span>,
                    <span class="key">"optionTotal":</span> <span class="string">"2"</span>,
                    <span class="key">"dataMax":</span> <span class="string">"2"</span>,
                    <span class="key">"name":</span> [
                        <span class="string">"ffg"</span>,
                        <span class="string">"nbn"</span>
                    ],
                    <span class="key">"price":</span> [
                        <span class="string">"87"</span>,
                        <span class="string">"98"</span>
                    ],
                    <span class="key">"require":</span> <span class="string">"true"</span>,
                    <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
                    <span class="key">"innerOptions":</span> [
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"jkj"</span>,
                                <span class="string">"lkkj"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"78"</span>,
                                <span class="string">"98"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"kj"</span>,
                                <span class="string">"kij"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"87"</span>,
                                <span class="string">"87"</span>
                            ]
                        }
                    ]
                }
            ],
            <span class="key">"menuItemId":</span> <span class="string">"3e1819b0-0701-11ea-97cc-2572c6e19999"</span>,
            <span class="key">"menuId":</span> <span class="string">"3d8e2df0-0287-11ea-a7ca-67f46afbb5a6"</span>
        },
        {
            <span class="key">"optionDescription":</span> <span class="string">"Choose your destiny?"</span>,
            <span class="key">"optionTotal":</span> <span class="string">"2"</span>,
            <span class="key">"dataMax":</span> <span class="string">"0"</span>,
            <span class="key">"name":</span> [
                <span class="string">"jkjjk"</span>,
                <span class="string">" kjjk"</span>
            ],
            <span class="key">"price":</span> [
                <span class="string">"98"</span>,
                <span class="string">"76"</span>
            ],
            <span class="key">"require":</span> <span class="string">"false"</span>,
            <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
            <span class="key">"innerOptions":</span> [],
            <span class="key">"extraOptions":</span> [
                {
                    <span class="key">"optionDescription":</span> <span class="string">"Choose your destiny?"</span>,
                    <span class="key">"optionTotal":</span> <span class="string">"2"</span>,
                    <span class="key">"dataMax":</span> <span class="string">"2"</span>,
                    <span class="key">"name":</span> [
                        <span class="string">"ffg"</span>,
                        <span class="string">"nbn"</span>
                    ],
                    <span class="key">"price":</span> [
                        <span class="string">"87"</span>,
                        <span class="string">"98"</span>
                    ],
                    <span class="key">"require":</span> <span class="string">"true"</span>,
                    <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
                    <span class="key">"innerOptions":</span> [
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"jkj"</span>,
                                <span class="string">"lkkj"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"78"</span>,
                                <span class="string">"98"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"kj"</span>,
                                <span class="string">"kij"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"87"</span>,
                                <span class="string">"87"</span>
                            ]
                        }
                    ]
                }
            ],
            <span class="key">"menuItemId":</span> <span class="string">"c2f21480-0385-11ea-80ef-bd1faf9866ce"</span>,
            <span class="key">"menuId":</span> <span class="string">"85d934b0-04f3-11ea-9b43-73db2fa43221"</span>
        },
        {
            <span class="key">"optionDescription":</span> <span class="string">"Choose your jesus?"</span>,
            <span class="key">"optionTotal":</span> <span class="string">"2"</span>,
            <span class="key">"dataMax":</span> <span class="string">"0"</span>,
            <span class="key">"name":</span> [
                <span class="string">"jkjjk"</span>,
                <span class="string">" kjjk"</span>
            ],
            <span class="key">"price":</span> [
                <span class="string">"98"</span>,
                <span class="string">"76"</span>
            ],
            <span class="key">"require":</span> <span class="string">"false"</span>,
            <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
            <span class="key">"innerOptions":</span> [],
            <span class="key">"extraOptions":</span> [
                {
                    <span class="key">"optionDescription":</span> <span class="string">"Choose your God?"</span>,
                    <span class="key">"optionTotal":</span> <span class="string">"2"</span>,
                    <span class="key">"dataMax":</span> <span class="string">"2"</span>,
                    <span class="key">"name":</span> [
                        <span class="string">"ffg"</span>,
                        <span class="string">"nbn"</span>
                    ],
                    <span class="key">"price":</span> [
                        <span class="string">"87"</span>,
                        <span class="string">"98"</span>
                    ],
                    <span class="key">"require":</span> <span class="string">"true"</span>,
                    <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
                    <span class="key">"innerOptions":</span> [
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"jkj"</span>,
                                <span class="string">"lkkj"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"78"</span>,
                                <span class="string">"98"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"kj"</span>,
                                <span class="string">"kij"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"87"</span>,
                                <span class="string">"87"</span>
                            ]
                        }
                    ]
                }
            ],
            <span class="key">"menuItemId":</span> <span class="string">"60a83690-0382-11ea-abf9-03cbb4a0167c"</span>,
            <span class="key">"menuId":</span> <span class="string">"71acc1e0-04f4-11ea-9b43-73db2fa43221"</span>
        },
        {
            <span class="key">"optionDescription":</span> <span class="string">"Choose your luck in jesus?"</span>,
            <span class="key">"optionTotal":</span> <span class="string">"2"</span>,
            <span class="key">"dataMax":</span> <span class="string">"0"</span>,
            <span class="key">"name":</span> [
                <span class="string">"jkjjk"</span>,
                <span class="string">" kjjk"</span>
            ],
            <span class="key">"price":</span> [
                <span class="string">"98"</span>,
                <span class="string">"76"</span>
            ],
            <span class="key">"require":</span> <span class="string">"false"</span>,
            <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
            <span class="key">"innerOptions":</span> [],
            <span class="key">"extraOptions":</span> [
                {
                    <span class="key">"optionDescription":</span> <span class="string">"Choose your life wife in God?"</span>,
                    <span class="key">"optionTotal":</span> <span class="string">"2"</span>,
                    <span class="key">"dataMax":</span> <span class="string">"2"</span>,
                    <span class="key">"name":</span> [
                        <span class="string">"ffg"</span>,
                        <span class="string">"nbn"</span>
                    ],
                    <span class="key">"price":</span> [
                        <span class="string">"87"</span>,
                        <span class="string">"98"</span>
                    ],
                    <span class="key">"require":</span> <span class="string">"true"</span>,
                    <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
                    <span class="key">"innerOptions":</span> [
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"jkj"</span>,
                                <span class="string">"lkkj"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"78"</span>,
                                <span class="string">"98"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"kj"</span>,
                                <span class="string">"kij"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"87"</span>,
                                <span class="string">"87"</span>
                            ]
                        }
                    ]
                }
            ],
            <span class="key">"menuItemId":</span> <span class="string">"a389ecc0-10e2-11ea-80f5-55265cf8997f"</span>,
            <span class="key">"menuId":</span> <span class="string">"b227b9f0-10e3-11ea-9404-516479e055dd"</span>
        },
        {
            <span class="key">"optionDescription":</span> <span class="string">"Choose your luck in jesus?"</span>,
            <span class="key">"optionTotal":</span> <span class="number">2</span>,
            <span class="key">"dataMax":</span> <span class="number">0</span>,
            <span class="key">"name":</span> [
                <span class="string">"jkjjk"</span>,
                <span class="string">" kjjk"</span>
            ],
            <span class="key">"price":</span> [
                <span class="string">"98"</span>,
                <span class="string">"76"</span>
            ],
            <span class="key">"require":</span> <span class="boolean">false</span>,
            <span class="key">"dataSingleproduct":</span> <span class="boolean">false</span>,
            <span class="key">"innerOptions":</span> [],
            <span class="key">"extraOptions":</span> [
                {
                    <span class="key">"optionDescription":</span> <span class="string">"Choose your life wife in God?"</span>,
                    <span class="key">"optionTotal":</span> <span class="number">2</span>,
                    <span class="key">"dataMax":</span> <span class="number">2</span>,
                    <span class="key">"name":</span> [
                        <span class="string">"ffg"</span>,
                        <span class="string">"nbn"</span>
                    ],
                    <span class="key">"price":</span> [
                        <span class="string">"87"</span>,
                        <span class="string">"98"</span>
                    ],
                    <span class="key">"require":</span> <span class="boolean">true</span>,
                    <span class="key">"dataSingleproduct":</span> <span class="boolean">false</span>,
                    <span class="key">"innerOptions":</span> [
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"jkj"</span>,
                                <span class="string">"lkkj"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"78"</span>,
                                <span class="string">"98"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"kj"</span>,
                                <span class="string">"kij"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"87"</span>,
                                <span class="string">"87"</span>
                            ]
                        }
                    ]
                }
            ],
            <span class="key">"menuItemId":</span> <span class="string">"a389ecc0-10e2-11ea-80f5-55265cf8997f"</span>,
            <span class="key">"menuId":</span> <span class="string">"d9a29d00-2e6c-11ea-b4a6-f12acba30fac"</span>
        },
        {
            <span class="key">"optionDescription":</span> <span class="string">"Choose your destiny?"</span>,
            <span class="key">"optionTotal":</span> <span class="string">"2"</span>,
            <span class="key">"dataMax":</span> <span class="null">null</span>,
            <span class="key">"name":</span> [
                <span class="string">"rrtr"</span>,
                <span class="string">"iuium"</span>
            ],
            <span class="key">"price":</span> [
                <span class="string">"54"</span>,
                <span class="string">"78"</span>
            ],
            <span class="key">"require":</span> <span class="string">"false"</span>,
            <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
            <span class="key">"innerOptions":</span> [],
            <span class="key">"extraOptions":</span> [
                {
                    <span class="key">"optionDescription":</span> <span class="string">"Choose your desire?"</span>,
                    <span class="key">"optionTotal":</span> <span class="string">"3"</span>,
                    <span class="key">"dataMax":</span> <span class="string">"2"</span>,
                    <span class="key">"name":</span> [
                        <span class="string">"hdjhd"</span>,
                        <span class="string">" dhkdjhd"</span>,
                        <span class="string">"dkdhkd"</span>
                    ],
                    <span class="key">"price":</span> [
                        <span class="string">"23"</span>,
                        <span class="string">"23"</span>,
                        <span class="string">"12"</span>
                    ],
                    <span class="key">"require":</span> <span class="string">"true"</span>,
                    <span class="key">"dataSingleproduct":</span> <span class="string">"false"</span>,
                    <span class="key">"innerOptions":</span> [
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"hgfhf"</span>,
                                <span class="string">"jfhjhf"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"12"</span>,
                                <span class="string">"13"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"hkjkj"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"23"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"jkj"</span>,
                                <span class="string">"kjk"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"12"</span>,
                                <span class="string">"24"</span>
                            ]
                        }
                    ]
                }
            ],
            <span class="key">"menuItemId":</span> <span class="string">"274f68e0-91c2-11ea-a459-d3380f5b19ab"</span>,
            <span class="key">"menuId":</span> <span class="string">"03c489d0-9237-11ea-ba82-95039022c15a"</span>
        },
        {
            <span class="key">"optionDescription":</span> <span class="string">"Choose your option food?"</span>,
            <span class="key">"optionTotal":</span> <span class="number">2</span>,
            <span class="key">"dataMax":</span> <span class="null">null</span>,
            <span class="key">"name":</span> [
                <span class="string">"yuyuy"</span>,
                <span class="string">" yiyuyu"</span>
            ],
            <span class="key">"price":</span> [
                <span class="string">"15.26"</span>,
                <span class="string">"2.34"</span>
            ],
            <span class="key">"require":</span> <span class="boolean">false</span>,
            <span class="key">"dataSingleproduct":</span> <span class="boolean">false</span>,
            <span class="key">"innerOptions":</span> [],
            <span class="key">"extraOptions":</span> [
                {
                    <span class="key">"optionDescription":</span> <span class="string">"Choose an option of choice?"</span>,
                    <span class="key">"optionTotal":</span> <span class="number">2</span>,
                    <span class="key">"dataMax":</span> <span class="null">null</span>,
                    <span class="key">"name":</span> [
                        <span class="string">"jkjk"</span>,
                        <span class="string">"oio"</span>
                    ],
                    <span class="key">"price":</span> [
                        <span class="string">"12.23"</span>,
                        <span class="string">" 23.20"</span>
                    ],
                    <span class="key">"require":</span> <span class="boolean">false</span>,
                    <span class="key">"dataSingleproduct":</span> <span class="boolean">false</span>,
                    <span class="key">"innerOptions":</span> [
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"jkj"</span>,
                                <span class="string">"ererr"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"12.12"</span>,
                                <span class="string">"34.12"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"wwww"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"2.23"</span>
                            ]
                        }
                    ]
                }
            ],
            <span class="key">"menuItemId":</span> <span class="string">"0e953e10-9267-11ea-ab97-6baf87d0c106"</span>,
            <span class="key">"menuId":</span> <span class="string">"16e90bd0-92e1-11ea-8f4e-39dff476ec11"</span>
        }
    ]
} </pre>