<style>
                    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
                    .string { color: green; }
                    .number { color: darkorange; }
                    .boolean { color: blue; }
                    .null { color: magenta; }
                    .key { color: red; }
                </style><pre> {
    <span class="key">"completeOrder":</span> [
        {
            <span class="key">"optionDescription":</span> <span class="string">"Choose your destiny?"</span>,
            <span class="key">"optionTotal":</span> <span class="number">2</span>,
            <span class="key">"dataMax":</span> <span class="null">null</span>,
            <span class="key">"name":</span> [
                <span class="string">"rrtr"</span>,
                <span class="string">"iuium"</span>
            ],
            <span class="key">"price":</span> [
                <span class="string">"54"</span>,
                <span class="string">"78"</span>
            ],
            <span class="key">"require":</span> <span class="boolean">false</span>,
            <span class="key">"dataSingleproduct":</span> <span class="boolean">false</span>,
            <span class="key">"innerOptions":</span> [],
            <span class="key">"extraOptions":</span> [
                {
                    <span class="key">"optionDescription":</span> <span class="string">"Choose your desire?"</span>,
                    <span class="key">"optionTotal":</span> <span class="number">3</span>,
                    <span class="key">"dataMax":</span> <span class="number">2</span>,
                    <span class="key">"name":</span> [
                        <span class="string">"hdjhd"</span>,
                        <span class="string">" dhkdjhd"</span>,
                        <span class="string">"dkdhkd"</span>
                    ],
                    <span class="key">"price":</span> [
                        <span class="string">"23"</span>,
                        <span class="string">"23"</span>,
                        <span class="string">"12"</span>
                    ],
                    <span class="key">"require":</span> <span class="boolean">true</span>,
                    <span class="key">"dataSingleproduct":</span> <span class="boolean">false</span>,
                    <span class="key">"innerOptions":</span> [
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"hgfhf"</span>,
                                <span class="string">"jfhjhf"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"12"</span>,
                                <span class="string">"13"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"hkjkj"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"23"</span>
                            ]
                        },
                        {
                            <span class="key">"name":</span> [
                                <span class="string">"jkj"</span>,
                                <span class="string">"kjk"</span>
                            ],
                            <span class="key">"price":</span> [
                                <span class="string">"12"</span>,
                                <span class="string">"24"</span>
                            ]
                        }
                    ]
                }
            ],
            <span class="key">"menuItemId":</span> <span class="string">"274f68e0-91c2-11ea-a459-d3380f5b19ab"</span>,
            <span class="key">"menuId":</span> <span class="string">"03c489d0-9237-11ea-ba82-95039022c15a"</span>
        }
    ]
} </pre>