{
    "menu": [
        {
            "itemName": "Egusi",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "12.34",
            "itemActive": true,
            "itemCategoryId": "8c2c2c90-0300-11ea-b54e-035ce2052888",
            "menuItemId": "bfbc16d0-0385-11ea-80ef-bd1faf9866ce",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2019-11-26T03-40-18.071Z.jpg",
            "itemImgName": "images2019-11-26T03-40-18.071Z.jpg"
        },
        {
            "itemName": "Afam Soup",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "32.34",
            "itemActive": true,
            "itemCategoryId": "6f3cf290-0300-11ea-b54e-035ce2052888",
            "menuItemId": "3e1819b0-0701-11ea-97cc-2572c6e19999",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2019-11-27T06-53-38.041Z.jpg",
            "itemImgName": "images2019-11-27T06-53-38.041Z.jpg"
        },
        {
            "itemName": "Banku",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "22.34",
            "itemActive": true,
            "itemCategoryId": "6f3cf290-0300-11ea-b54e-035ce2052888",
            "menuItemId": "c2f21480-0385-11ea-80ef-bd1faf9866ce",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-08T23-20-43.824Z.jpg",
            "itemImgName": "images2020-05-08T23-20-43.824Z.jpg"
        },
        {
            "itemName": "Efo",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "15.4",
            "itemActive": true,
            "itemCategoryId": "8c2c2c90-0300-11ea-b54e-035ce2052888",
            "menuItemId": "60a83690-0382-11ea-abf9-03cbb4a0167c",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-08T23-23-27.454Z.jpg",
            "itemImgName": "images2020-05-08T23-23-27.454Z.jpg"
        },
        {
            "itemName": "Edikaiko",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "18.4",
            "itemActive": true,
            "itemCategoryId": "e8de2ab0-06b6-11ea-97cc-2572c6e19999",
            "menuItemId": "a389ecc0-10e2-11ea-80f5-55265cf8997f",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-09T06-50-19.282Z.jpg",
            "itemImgName": "images2020-05-09T06-50-19.282Z.jpg"
        },
        {
            "itemName": "Bacon bread ",
            "itemDescription": "Its filled with awesome sweet fooods ",
            "itemIngredients": "Sugar, syrup, bacon, bread ",
            "itemRecipe": "smear the bread with syrup, lay the bacon in the bread, dip in sugar.",
            "itemPrice": "18.50",
            "itemActive": true,
            "itemCategoryId": "a096f090-914c-11ea-9326-039f0a0b26e7",
            "menuItemId": "274f68e0-91c2-11ea-a459-d3380f5b19ab",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-09T06-56-05.739Z.jpg",
            "itemImgName": "images2020-05-09T06-56-05.739Z.jpg"
        },
        {
            "itemName": "Bread veggies",
            "itemDescription": "Its filled with awesome sweet veggies.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "12.45",
            "itemActive": true,
            "itemCategoryId": "a096f090-914c-11ea-9326-039f0a0b26e7",
            "menuItemId": "0e953e10-9267-11ea-ab97-6baf87d0c106",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-10T02-36-31.206Z.jpg",
            "itemImgName": "images2020-05-10T02-36-31.206Z.jpg"
        },
        {
            "itemName": "Pasta salad",
            "itemDescription": "Its filled with awesome sweet salads",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "23.25",
            "itemActive": true,
            "itemCategoryId": "e8de2ab0-06b6-11ea-97cc-2572c6e19999",
            "menuItemId": "4c1b1680-9328-11ea-ace2-6145abf8eac0",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-11T01-39-47.291Z.jpg",
            "itemImgName": "images2020-05-11T01-39-47.291Z.jpg"
        },
        {
            "itemName": "Fish soup",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "12.25",
            "itemActive": true,
            "itemCategoryId": "c3c369a0-9411-11ea-ace2-6145abf8eac0",
            "menuItemId": "e61d5ba0-9411-11ea-ace2-6145abf8eac0",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-12T05-31-58.423Z.jpg",
            "itemImgName": "images2020-05-12T05-31-58.423Z.jpg"
        },
        {
            "itemName": "Pork Potatoe Marsh",
            "itemDescription": "Its filled with awesome sweet fooods",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "2",
            "itemActive": true,
            "itemCategoryId": "c3c369a0-9411-11ea-ace2-6145abf8eac0",
            "menuItemId": "b57bb720-a6a5-11ea-a797-1f64e18eb560",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-06-04T20-55-23.203Z.jpg",
            "itemImgName": "images2020-06-04T20-55-23.203Z.jpg"
        },
        {
            "itemName": "Pumpkin Pie Soup",
            "itemDescription": "Its filled with awesome sweet fooods",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "20",
            "itemActive": true,
            "itemCategoryId": "e8de2ab0-06b6-11ea-97cc-2572c6e19999",
            "menuItemId": "c68dc160-a6e2-11ea-b3a1-5dc1dd62474b",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-06-05T04-12-31.201Z.jpg",
            "itemImgName": "images2020-06-05T04-12-31.201Z.jpg"
        },
        {
            "itemName": "Fried Shrimp Pepper Soup",
            "itemDescription": "African pepper soup with shrimp.",
            "itemIngredients": "pepper, tomatoes, oil, spices, onions, shrimps",
            "itemRecipe": "Fry tomatoes, pepper and onion in oil, after ten minutes add the shrimp and stir.",
            "itemPrice": "10.95",
            "itemActive": true,
            "itemCategoryId": "8c2c2c90-0300-11ea-b54e-035ce2052888",
            "menuItemId": "49d46220-a771-11ea-b7f3-c1a73dbad0a7",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-06-05T21-12-39.921Z.jpg",
            "itemImgName": "images2020-06-05T21-12-39.921Z.jpg"
        },
        {
            "itemName": "Potato Porridge stew",
            "itemDescription": "Its filled with awesome sweet fooods",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "12.35",
            "itemActive": true,
            "itemCategoryId": "6f3cf290-0300-11ea-b54e-035ce2052888",
            "menuItemId": "e2bbc470-a775-11ea-b7f3-c1a73dbad0a7",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-06-05T21-45-34.512Z.jpg",
            "itemImgName": "images2020-06-05T21-45-34.512Z.jpg"
        },
        {
            "itemName": "Beef Strogonought",
            "itemDescription": "Its filled with awesome sweet fooods",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "12.98",
            "itemActive": true,
            "itemCategoryId": "e8de2ab0-06b6-11ea-97cc-2572c6e19999",
            "menuItemId": "1be592d0-aa05-11ea-b7d8-47425892e2ef",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-06-09T03-55-50.767Z.jpg",
            "itemImgName": "images2020-06-09T03-55-50.767Z.jpg"
        }
    ]
}