{
    "menu": [
        {
            "itemName": "Egusi",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "12.34",
            "itemActive": true,
            "itemCategoryId": "8c2c2c90-0300-11ea-b54e-035ce2052888",
            "menuItemId": "bfbc16d0-0385-11ea-80ef-bd1faf9866ce",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2019-11-26T03-40-18.071Z.jpg",
            "itemImgName": "images2019-11-26T03-40-18.071Z.jpg"
        },
        {
            "itemName": "Afam Soup",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "32.34",
            "itemActive": true,
            "itemCategoryId": "6f3cf290-0300-11ea-b54e-035ce2052888",
            "menuItemId": "3e1819b0-0701-11ea-97cc-2572c6e19999",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2019-11-27T06-53-38.041Z.jpg",
            "itemImgName": "images2019-11-27T06-53-38.041Z.jpg"
        },
        {
            "itemName": "Banku",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "22.34",
            "itemActive": true,
            "itemCategoryId": "6f3cf290-0300-11ea-b54e-035ce2052888",
            "menuItemId": "c2f21480-0385-11ea-80ef-bd1faf9866ce",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-08T23-20-43.824Z.jpg",
            "itemImgName": "images2020-05-08T23-20-43.824Z.jpg"
        },
        {
            "itemName": "Efo",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "15.4",
            "itemActive": true,
            "itemCategoryId": "8c2c2c90-0300-11ea-b54e-035ce2052888",
            "menuItemId": "60a83690-0382-11ea-abf9-03cbb4a0167c",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-08T23-23-27.454Z.jpg",
            "itemImgName": "images2020-05-08T23-23-27.454Z.jpg"
        },
        {
            "itemName": "Edikaiko",
            "itemDescription": "African spinach soup with melon.",
            "itemIngredients": "Spinach, tomatoes, oil, spices, onions, melon",
            "itemRecipe": "Fry tomatoes and onion in oil, after ten minutes add the spinach and stir.",
            "itemPrice": "18.4",
            "itemActive": true,
            "itemCategoryId": "e8de2ab0-06b6-11ea-97cc-2572c6e19999",
            "menuItemId": "a389ecc0-10e2-11ea-80f5-55265cf8997f",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-09T06-50-19.282Z.jpg",
            "itemImgName": "images2020-05-09T06-50-19.282Z.jpg"
        },
        {
            "itemName": "Bacon bread ",
            "itemDescription": "Its filled with awesome sweet fooods ",
            "itemIngredients": "Sugar, syrup, bacon, bread ",
            "itemRecipe": "smear the bread with syrup, lay the bacon in the bread, dip in sugar.",
            "itemPrice": "18.50",
            "itemActive": true,
            "itemCategoryId": "a096f090-914c-11ea-9326-039f0a0b26e7",
            "menuItemId": "274f68e0-91c2-11ea-a459-d3380f5b19ab",
            "itemImgPath": "C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-09T06-56-05.739Z.jpg",
            "itemImgName": "images2020-05-09T06-56-05.739Z.jpg"
        }
    ]
}