<style>
                    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
                    .string { color: green; }
                    .number { color: darkorange; }
                    .boolean { color: blue; }
                    .null { color: magenta; }
                    .key { color: red; }
                </style><pre> {
    <span class="key">"menu":</span> [
        {
            <span class="key">"itemName":</span> <span class="string">"Egusi"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"African spinach soup with melon."</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"12.34"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"8c2c2c90-0300-11ea-b54e-035ce2052888"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"bfbc16d0-0385-11ea-80ef-bd1faf9866ce"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2019-11-26T03-40-18.071Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2019-11-26T03-40-18.071Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Afam Soup"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"African spinach soup with melon."</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"32.34"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"6f3cf290-0300-11ea-b54e-035ce2052888"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"3e1819b0-0701-11ea-97cc-2572c6e19999"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2019-11-27T06-53-38.041Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2019-11-27T06-53-38.041Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Banku"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"African spinach soup with melon."</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"22.34"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"6f3cf290-0300-11ea-b54e-035ce2052888"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"c2f21480-0385-11ea-80ef-bd1faf9866ce"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-08T23-20-43.824Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-05-08T23-20-43.824Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Efo"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"African spinach soup with melon."</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"15.4"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"8c2c2c90-0300-11ea-b54e-035ce2052888"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"60a83690-0382-11ea-abf9-03cbb4a0167c"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-08T23-23-27.454Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-05-08T23-23-27.454Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Edikaiko"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"African spinach soup with melon."</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"18.4"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"e8de2ab0-06b6-11ea-97cc-2572c6e19999"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"a389ecc0-10e2-11ea-80f5-55265cf8997f"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-09T06-50-19.282Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-05-09T06-50-19.282Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Bacon bread "</span>,
            <span class="key">"itemDescription":</span> <span class="string">"Its filled with awesome sweet fooods "</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Sugar, syrup, bacon, bread "</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"smear the bread with syrup, lay the bacon in the bread, dip in sugar."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"18.50"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"a096f090-914c-11ea-9326-039f0a0b26e7"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"274f68e0-91c2-11ea-a459-d3380f5b19ab"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-09T06-56-05.739Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-05-09T06-56-05.739Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Bread veggies"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"Its filled with awesome sweet veggies."</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"12.45"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"a096f090-914c-11ea-9326-039f0a0b26e7"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"0e953e10-9267-11ea-ab97-6baf87d0c106"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-10T02-36-31.206Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-05-10T02-36-31.206Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Pasta salad"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"Its filled with awesome sweet salads"</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"23.25"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"e8de2ab0-06b6-11ea-97cc-2572c6e19999"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"4c1b1680-9328-11ea-ace2-6145abf8eac0"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-11T01-39-47.291Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-05-11T01-39-47.291Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Fish soup"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"African spinach soup with melon."</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"12.25"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"c3c369a0-9411-11ea-ace2-6145abf8eac0"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"e61d5ba0-9411-11ea-ace2-6145abf8eac0"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-05-12T05-31-58.423Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-05-12T05-31-58.423Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Pork Potatoe Marsh"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"Its filled with awesome sweet fooods"</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"2"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"c3c369a0-9411-11ea-ace2-6145abf8eac0"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"b57bb720-a6a5-11ea-a797-1f64e18eb560"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-06-04T20-55-23.203Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-06-04T20-55-23.203Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Pumpkin Pie Soup"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"Its filled with awesome sweet fooods"</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"20"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"e8de2ab0-06b6-11ea-97cc-2572c6e19999"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"c68dc160-a6e2-11ea-b3a1-5dc1dd62474b"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-06-05T04-12-31.201Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-06-05T04-12-31.201Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Fried Shrimp Pepper Soup"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"African pepper soup with shrimp."</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"pepper, tomatoes, oil, spices, onions, shrimps"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes, pepper and onion in oil, after ten minutes add the shrimp and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"10.95"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"8c2c2c90-0300-11ea-b54e-035ce2052888"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"49d46220-a771-11ea-b7f3-c1a73dbad0a7"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-06-05T21-12-39.921Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-06-05T21-12-39.921Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Potato Porridge stew"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"Its filled with awesome sweet fooods"</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"12.35"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"6f3cf290-0300-11ea-b54e-035ce2052888"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"e2bbc470-a775-11ea-b7f3-c1a73dbad0a7"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-06-05T21-45-34.512Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-06-05T21-45-34.512Z.jpg"</span>
        },
        {
            <span class="key">"itemName":</span> <span class="string">"Beef Strogonought"</span>,
            <span class="key">"itemDescription":</span> <span class="string">"Its filled with awesome sweet fooods"</span>,
            <span class="key">"itemIngredients":</span> <span class="string">"Spinach, tomatoes, oil, spices, onions, melon"</span>,
            <span class="key">"itemRecipe":</span> <span class="string">"Fry tomatoes and onion in oil, after ten minutes add the spinach and stir."</span>,
            <span class="key">"itemPrice":</span> <span class="string">"12.98"</span>,
            <span class="key">"itemActive":</span> <span class="boolean">true</span>,
            <span class="key">"itemCategoryId":</span> <span class="string">"e8de2ab0-06b6-11ea-97cc-2572c6e19999"</span>,
            <span class="key">"menuItemId":</span> <span class="string">"1be592d0-aa05-11ea-b7d8-47425892e2ef"</span>,
            <span class="key">"itemImgPath":</span> <span class="string">"C:\\Users\\Tozyne\\Desktop\\Restaurant - Copy\\assets\\images\\gallery\\images2020-06-09T03-55-50.767Z.jpg"</span>,
            <span class="key">"itemImgName":</span> <span class="string">"images2020-06-09T03-55-50.767Z.jpg"</span>
        }
    ]
} </pre>